
$primary : #e55039;
$secondary : #1f2947;
$tertiary : #4a69bd;


// Import the light theme
@import 'light.scss';

// Define the styles for the light theme
.light {
  background-color: $tertiary;
}

// Import the dark theme
@import 'dark.scss';

// Define the styles for the dark theme
.dark {
  background-color: $secondary;
  color: $font-color;
}

